#side-bar,
#main-section,
#user-info,
#navigators,
#higher,
button
{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#side-bar,
#main-section {
  height: 100vh;
}

#account-info {
  height: 11vh;
}

#navigators {
  height: 85vh;
}

#account-pict {
  border-radius: 50%;
  width: 18%;
}

a {
  color: white;
}

#our-name {
  color: #00d488;
  position: absolute;
  bottom: 0;
  width: 100%;
}

a:hover {
  color: #00d488;
  font-size: large;
}

#search-bar {
  border-radius: 50px;
  width: 49vw;
  margin: 2%;
}

#notifications {
  border-radius: 20px;
  background-color: #00d48659;
}

#notifications:hover {
  background-color: #00d486c4;
}

button:hover {
  background-color: #00d488;
}

#higher {
  height: 10vh;
  width: 70vw;
}
/* =================================== */
#event-details
{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  height: 82.5vh;
}

#event-poster-img {
    height: 80vh;
    width: auto;
    border-radius: 25px;
}

#register-button {
    background-color: #00d488;
    border-radius: 10px;
}

#register-button:hover {
    background-color: #00d48659;
}